<!DOCTYPE html>
<html>
    <head>
        <title>
                <%= title %>
        </title>
        <link rel="stylesheet" type="text/css" href="/CSS/homeStyle.css"> 
    </head>
    <body>
        <h1>This is first views file Controller</h1>
        <script type="text/javascript" src="/JS/homeJScode.js"></script>
    </body>
</html>